<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h1>Enter the text below</h1>
<form action="/analyse" method="get">
    <textarea name="text" style="width: 1202px; height: 104px;"></textarea> <br>
    <input type="checkbox" name="checkbox" id="checkbox">
    <label for="checkbox">Remove punchuvation</label>
    <input type="checkbox" name="checkextra" id="checkbox1">
    <label for="checkbox">Extra space Remover</label>
    <input type="checkbox" name="checknew" id="checkbox2">
    <label for="checkbox">New line remover</label>
    <button type="submit">Submit</button>
</form>


</body>
</html>